* {
    padding: 0;
    margin: 0;
}
.main{
    max-width: 1000px;
    margin: 30px auto 50px;
}

.box {
    border: 3px solid;
}

.heading {
    padding: 3px 10px;
    font-weight: 700;
    border-bottom: 3px solid;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    gap: 30px 40px;
}

content > div {
    border: 2px solid;
}

.box1 {
    height: 100px;
    width: 150px;
    background-color: palevioletred;
}

.box2 {
    height: 100px;
    width: calc(100% - 200px);
    background-color: deepskyblue;
}

.box3 {
    background-color: yellow;
    width: 100%;
    height: 100px;
}